{* This is the welcome page, you can delete it *}

{block content}
<div class="card">
    <div class="card-header">
        <h1 n:block=title>User List</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUser">
            Přidat uživatele
        </button>
    </div>
 <div class="card-body">
     <table class="table">
         <thead>
         <tr>
             <th scope="col">ID</th>
             <th scope="col">Jméno</th>
             <th scope="col">Příjmení</th>
             <th scope="col">Datum narození</th>
             <th scope="col">Akce</th>
         </tr>
         </thead>
         <tbody>
         {foreach $users as $item}
             <tr>
                 <td>{$item->getId()}</th>
                 <td>{$item->getFirstName()}</td>
                 <td>{$item->getLastName()}</td>
                 <td>{$item->getDateOfBirth()}</td>
                 <td>
                     <a class="btn btn-warning btn-sm" n:href="User:editUser $item->getId()">Upravit příspěvek</a>
                     <a class="btn btn-danger btn-sm" n:href="deleteUser $item->getId()">Odstranit</a>
                 </td>
             </tr>
         {/foreach}
         </tbody>
     </table>
 </div>
</div>
<!-- Modal Create -->
<div class="modal fade" id="createUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Vytvořit nového uživatele</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {control userForm}
            </div>
        </div>
    </div>
</div>

